.header-navbar {
  height: 64px;
  width: 100vw;
  background-color: #282c34;
  color: #fff;
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  line-height: 64px;
  li {
    margin-right: 10px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.route-wrap {
  flex-grow: 1;
  text-align: left;
}
