.normal {
  font-family: Georgia, sans-serif;
}

.header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}

.avatar-wrap {
  line-height: 64px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

/* 退出登录 */
.logout {
  &:hover {
    color: #fff;
    background-color: red !important;
  }
}
