html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

.menu-wrap .ant-menu-item {
    color: #000;
}

.menu-wrap .ant-menu-item.ant-menu-item-selected {
    color: #000;
}

/* 路由动效 */
.fade-enter {
    opacity: 0;
    z-index: 1;
    transform: scale(1.1);
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s ease-in, transform .3s;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity .3s, transform .3s;
}
